
:root{
    --body:#ecf0f1;
    --component:#ffffff;
    --btn:#ff4757;
    --para:16px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
::selection{
    color: white;
    background: #000;
}
body{
    background-color: var(--body);
    width: 100%;
    height: 100vh;
}
.navigation{
    padding: 0 5%;
    position: sticky; 
    top: 0;
    z-index: 111;
    width: 100%;
    height: 9vh;
    background: #ffffff;
    align-items: center;
}
.navigation ul{
    display: flex;
    list-style: none;
    float: right;
    margin-right: 20px;
    position: relative;
    top: 1rem;
}
.navigation ul li{
    padding: 10px 15px;
}

.navigation ul li a::before{
    content: "";
    background:linear-gradient(45deg,#ff0000,#ff3333);
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    top: 25px;
    transition: all linear 0.3s;
    opacity: 0;
}
.navigation ul li a:hover::before{
    width: 100%;
    display: block;
    border-radius: 5px;
    opacity: 100%;
}
.navigation ul li a{
    width: max-content;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-size:16px;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all linear 0.2s;
    font-size: 1.25rem;
}
.navigation ul li a:hover{
    color: #ff0000;
    
}


.content{
    padding: 0 5%;
    background: var(--component);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
}

.content h1{
    margin-bottom: 3em;
    padding: 50px 0;
    text-align: center;
    color: #ff3333;
    font-size: 2rem;
    text-transform: uppercase;
}
.content p{
    word-spacing: 4px;
    
}
.date{
    font-weight: 600;
    margin-bottom: 10px;
}


#container1{
    width: 100%;
    min-height: 200px;
    padding: 30px 10px;
}

#container1 h2{
 margin-bottom: 20px;
}

#container2{
    width: 100%;
    min-height: 200px;
    padding: 30px 10px;
}

#container2 h2{
 margin-bottom: 20px;
}


#container3{
    width: 100%;
    min-height: 200px;
    padding: 30px 10px;
}

#container3 h2{
 margin-bottom: 20px;
}

#container4{
    width: 100%;
    min-height: 200px;
    padding: 30px 10px;
}

#container4 h2{
 margin-bottom: 20px;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
    width: 100%;
    height: 182px;
    background: var(--component);
}
.social-links{
    padding: 1px 10px;
}
.social-links a{
    font-size: 25px;
    padding: 18px;
    margin-bottom: 10px;
    color: #21243de3;
    display: inline-block;
}
.social-links a:hover{
    color: black; 
    transform: scale(1.25);
    transition: all ease 0.5s;
}
footer p{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    font-family: "Roboto", sans-serif;
    flex: 1 1 1;
}



/* media-query */


/* --------------for Mobile ---------------- */
@media  (width<=576px) {
    .navigation{
     display: none;
     position: absolute;
     top: 50px;
     left: 0;
     background-color:var(--component);
        width: 250px;
        height: 100vh;
     }
     .navigation ul{
         flex-direction: column;
         height: 200px;
    }
 
     #bar{
         position: sticky;
         top: 0;
         left: 0;
     list-style: none;
     padding: 10px 20px;
     font-size: 1.25rem;
     background-color: white;
     cursor: pointer;
    }
    
 }

 
/* ----------------for tablet ----------------- */
@media (min-width:576px)and (max-width:767px){
    
    #bar{
        display: none;
    }
       .navigation{
        height: 66px ;
       }
    
}

/* -------------------for large screen ---------- */
@media (min-width:767px)and (max-width:992px){
    #bar{
        display: none;
    }
    .navigation{
        height: 66px ;
       }
}


/* ---------------------for XXL screen ------------- */
@media (min-width:992px)and (max-width:1200px){
    #bar{
        display: none;
    }
    .navigation{
        height: 66px ;
       }
}


@media (min-width:1200px){
    #bar{
        display: none;
    }
    .navigation{
        height: 66px ;
       }
}